
@import url(http://fonts.googleapis.com/css?family=Arvo:400,700,400italic);
* {
	font-family: 'Arvo', serif;
	color: white;
}

@media only screen and (max-width : 400px) {
	#rowOne { padding: 2em !important; }
}
h1 + span {
	font-style: italic;
}
nav { float: right; padding-right: 10%; font-weight: 700;}
nav ul li { display: inline-table; margin: 0 3em 3em 0; text-transform: uppercase; border: 3px white solid; border-radius:5px; border-spacing: 1em; -webkit-transition: all 0.25s linear;}
nav ul li:hover {  background-color: #7A52C7;  }
section { padding: 2em 0 5em 0; }

/*IDs*/

#header { padding-left: 8em; }
#rowOne { padding-top: 3em;padding-left: 10em; padding-right: 10em;}
#LearnMore { padding-top: 6em }
#circleimg { border-radius: 50% }
#firstRow { background-color: #4F1F91; background-image: url('../imgs/head.png');  }
#secondRow { background-color: #7A52C7; }
#thirdRow { background-color: #0047BE;}
#title { padding-bottom: 1em;}
#buttonL { border: 3px solid white; color: white; background-color: transparent; padding: 1em 3em 1em 3em;}
#footerRow { background-color: gray}
